.dropdown-toggle{
    display:flex;
    align-items:center;
    font-weight:600;
}

.dropdown-menu{
    border:none;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

/* Main Content */

.main-content{

    margin-left:250px;
    margin-top:70px;

    padding:30px;

    min-height:100vh;

    background:#f5f7fb;

}

/* Page Header */

.page-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

}
.page-header{
    margin-bottom:30px;
}

.page-header h2{
    font-size:34px;
    font-weight:700;
    color:#0d6efd;
    margin-bottom:8px;
}

.page-header p{
    color:#6c757d;
    font-size:16px;
    margin:0;
}